#.gitignore file

#ignore the auto generated vim whatever they are files
*~
#keep out .o garbage - everyone can build their own with make
obj/*
#include empty obj directory so nobody's make complains about nonexistent directories
!obj/.keep

test/stage1_test.s
